/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.paychain.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.paychain.sdk.models.Balance
import com.paychain.sdk.models.CreateWalletRequest
import com.paychain.sdk.models.ErrorResponse
import com.paychain.sdk.models.Wallet

import com.squareup.moshi.Json

import com.paychain.sdk.infrastructure.ApiClient
import com.paychain.sdk.infrastructure.ApiResponse
import com.paychain.sdk.infrastructure.ClientException
import com.paychain.sdk.infrastructure.ClientError
import com.paychain.sdk.infrastructure.ServerException
import com.paychain.sdk.infrastructure.ServerError
import com.paychain.sdk.infrastructure.MultiValueMap
import com.paychain.sdk.infrastructure.PartConfig
import com.paychain.sdk.infrastructure.RequestConfig
import com.paychain.sdk.infrastructure.RequestMethod
import com.paychain.sdk.infrastructure.ResponseType
import com.paychain.sdk.infrastructure.Success
import com.paychain.sdk.infrastructure.toMultiValue

open class WalletsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.paychain.cambobia.com")
        }
    }

    /**
     * POST /api/v1/wallets
     * Create a managed custodial wallet
     * Creates the Stellar account and records the wallet under the caller tenant.
     * @param idempotencyKey Required on replay-safe writes so retries cannot double-apply.
     * @param createWalletRequest 
     * @param xCorrelationId Optional caller-supplied correlation id echoed through logs and audit records. (optional)
     * @return Wallet
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createWallet(idempotencyKey: kotlin.String, createWalletRequest: CreateWalletRequest, xCorrelationId: java.util.UUID? = null) : Wallet {
        val localVarResponse = createWalletWithHttpInfo(idempotencyKey = idempotencyKey, createWalletRequest = createWalletRequest, xCorrelationId = xCorrelationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Wallet
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/wallets
     * Create a managed custodial wallet
     * Creates the Stellar account and records the wallet under the caller tenant.
     * @param idempotencyKey Required on replay-safe writes so retries cannot double-apply.
     * @param createWalletRequest 
     * @param xCorrelationId Optional caller-supplied correlation id echoed through logs and audit records. (optional)
     * @return ApiResponse<Wallet?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createWalletWithHttpInfo(idempotencyKey: kotlin.String, createWalletRequest: CreateWalletRequest, xCorrelationId: java.util.UUID?) : ApiResponse<Wallet?> {
        val localVariableConfig = createWalletRequestConfig(idempotencyKey = idempotencyKey, createWalletRequest = createWalletRequest, xCorrelationId = xCorrelationId)

        return request<CreateWalletRequest, Wallet>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createWallet
     *
     * @param idempotencyKey Required on replay-safe writes so retries cannot double-apply.
     * @param createWalletRequest 
     * @param xCorrelationId Optional caller-supplied correlation id echoed through logs and audit records. (optional)
     * @return RequestConfig
     */
    fun createWalletRequestConfig(idempotencyKey: kotlin.String, createWalletRequest: CreateWalletRequest, xCorrelationId: java.util.UUID?) : RequestConfig<CreateWalletRequest> {
        val localVariableBody = createWalletRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xCorrelationId?.apply { localVariableHeaders["X-Correlation-Id"] = this.toString() }
        idempotencyKey.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/wallets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/wallets/{walletId}
     * Get a wallet
     * 
     * @param walletId 
     * @param xCorrelationId Optional caller-supplied correlation id echoed through logs and audit records. (optional)
     * @return Wallet
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getWallet(walletId: kotlin.String, xCorrelationId: java.util.UUID? = null) : Wallet {
        val localVarResponse = getWalletWithHttpInfo(walletId = walletId, xCorrelationId = xCorrelationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Wallet
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/wallets/{walletId}
     * Get a wallet
     * 
     * @param walletId 
     * @param xCorrelationId Optional caller-supplied correlation id echoed through logs and audit records. (optional)
     * @return ApiResponse<Wallet?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getWalletWithHttpInfo(walletId: kotlin.String, xCorrelationId: java.util.UUID?) : ApiResponse<Wallet?> {
        val localVariableConfig = getWalletRequestConfig(walletId = walletId, xCorrelationId = xCorrelationId)

        return request<Unit, Wallet>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getWallet
     *
     * @param walletId 
     * @param xCorrelationId Optional caller-supplied correlation id echoed through logs and audit records. (optional)
     * @return RequestConfig
     */
    fun getWalletRequestConfig(walletId: kotlin.String, xCorrelationId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xCorrelationId?.apply { localVariableHeaders["X-Correlation-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/wallets/{walletId}".replace("{"+"walletId"+"}", encodeURIComponent(walletId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/wallets/{walletId}/balances
     * List wallet balances
     * Refreshes the rebuildable balance read model from chain before returning balances.
     * @param walletId 
     * @param xCorrelationId Optional caller-supplied correlation id echoed through logs and audit records. (optional)
     * @return kotlin.collections.List<Balance>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listWalletBalances(walletId: kotlin.String, xCorrelationId: java.util.UUID? = null) : kotlin.collections.List<Balance> {
        val localVarResponse = listWalletBalancesWithHttpInfo(walletId = walletId, xCorrelationId = xCorrelationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Balance>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/wallets/{walletId}/balances
     * List wallet balances
     * Refreshes the rebuildable balance read model from chain before returning balances.
     * @param walletId 
     * @param xCorrelationId Optional caller-supplied correlation id echoed through logs and audit records. (optional)
     * @return ApiResponse<kotlin.collections.List<Balance>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listWalletBalancesWithHttpInfo(walletId: kotlin.String, xCorrelationId: java.util.UUID?) : ApiResponse<kotlin.collections.List<Balance>?> {
        val localVariableConfig = listWalletBalancesRequestConfig(walletId = walletId, xCorrelationId = xCorrelationId)

        return request<Unit, kotlin.collections.List<Balance>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listWalletBalances
     *
     * @param walletId 
     * @param xCorrelationId Optional caller-supplied correlation id echoed through logs and audit records. (optional)
     * @return RequestConfig
     */
    fun listWalletBalancesRequestConfig(walletId: kotlin.String, xCorrelationId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xCorrelationId?.apply { localVariableHeaders["X-Correlation-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/wallets/{walletId}/balances".replace("{"+"walletId"+"}", encodeURIComponent(walletId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
